h2{
    color: red;
}
p {

}
.par-css{
    color: green;
	font-size: 16px;
	line-height: 28px;
	letter-spacing: 2px;
	font-style: italic;
	font-weight: 200;
}

.container {
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 100px;
	text-align: left;
}
h1 {
	float: left;
	width: 33%;
}
h2 {
	color: red;
	float: left;
	width: 33%;
}
h3 {
	float: left;
	width: 33%;
}